<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>

    <%= link_to('<< back to members', members_path, :class => 'back-link', class: 'button1') %>
    <center>


    </center>
  </div>
</div>
