<p>Title:</p>
<%= f.text_field(:title) %>

<p>Message:</p>
<%= f.text_area(:message) %>

<!-- is there a reason why these are inside a table?
<table summary='form fields'>
  <tr>
    <th>Title: </th>
    <td><%= f.text_field(:title) %></td>
  </tr>
  <tr>
    <th>Message: </th>
    <td><%= f.text_area(:message) %></td>
  </tr>
</table>
-->
