<body>
  Howdy Ags,<br>
  This is an automated announcement by <%= @member.name %> from Feminism4Aggies.<br>
</body>
<hr>

<h2><%= @announcement.title %></h2>

<body>
  <%= @announcement.message %>
</body>
<br>
<hr>
<br>
