<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>
        <h1>Editing Event</h1>

        <%= render 'form', event: @event %>

        <%= link_to 'Show', @event %> |
        <%= link_to 'Back', events_path %>  

    </div>
</div>
