<div class='wrapper'>
  <!-- NOTE: navbar will be in its own file (like the form one) so that
       we can easily import it to every page.
  -->
  <div class="nav">
	  <input type="checkbox" id="nav-check">
	  <div class="nav-btn">
	    <label for="nav-check">
	      <span></span>
	      <span></span>
	      <span></span>
	    </label>
	  </div>

	  <div class="nav-links">
	    <%= link_to 'Sign In', admin_google_oauth2_omniauth_authorize_path %>
	  </div>
	</div>

	<div class='container'>
		<h1>Feminism 4 Aggies</h1>
    <br>

    <h2>Howdy and welcome to the internal website for Feminism 4 Aggies! We will be using this tool to track attendance for events, make announcements, and allow members to create posts to share their accomplishments.</h2>
    <br><br>
    <h2>To view the site, click the link in the top right corner to sign in with your @tamu.edu Google account. If this is your first time signing in, you will be prompted to enter your name and create your own member profile. </h2>
    <br>
    <h2>Please check out our external website <b><a href="https://feminism4aggies.wixsite.com/tamu" class="underline">here</a></b> to see more information about our organization!</h2>

	</div>
</div>
