<div class='wrapper'>
  <!-- NOTE: navbar will be in its own file (like the form one) so that
       we can easily import it to every page.
  -->
  <div class="nav">
	  <input type="checkbox" id="nav-check">
	  <div class="nav-btn">
	    <label for="nav-check">
	      <span></span>
	      <span></span>
	      <span></span>
	    </label>
	  </div>

	  <div class="nav-links">
	    <a href="#">Home</a>
	    <a href="#">Announcements</a>
	    <a href="#">Members</a>
	    <%= link_to 'Sign In', admin_google_oauth2_omniauth_authorize_path %>
	    <a href="#">Sign Up</a>
	  </div>
	</div>

	<div class='container'>
		<h1>Feminism4Aggies</h1>
    <br>
    <h3>Here's some text about F4A and why it's fantastic and you should join it.</h3>
    <h3>Here' some more text!</h3>
    <br><br>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
    <h3>Here's some more text, just to make sure that the scrolling works too</h3>
	</div>
</div>
