/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 200;
   src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
 }
 @font-face {
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 300;
   src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
 }
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-weight: 300;
 }

 body {
   font-family: 'Source Sans Pro', sans-serif;
   color: white;
   font-weight: 300;
 }
 * > b {
   font-family: 'Source Sans Pro', sans-serif;
   color: white;
   font-weight: 600;
 }
 body ::-webkit-input-placeholder {
   /* WebKit browsers */
   font-family: 'Source Sans Pro', sans-serif;
   color: white;
   font-weight: 300;
 }
 body :-moz-placeholder {
   /* Mozilla Firefox 4 to 18 */
   font-family: 'Source Sans Pro', sans-serif;
   color: white;
   opacity: 1;
   font-weight: 300;
 }
 body ::-moz-placeholder {
   /* Mozilla Firefox 19+ */
   font-family: 'Source Sans Pro', sans-serif;
   color: white;
   opacity: 1;
   font-weight: 300;
 }
 body :-ms-input-placeholder {
   /* Internet Explorer 10+ */
   font-family: 'Source Sans Pro', sans-serif;
   color: white;
   font-weight: 300;
 }

 .wrapper {
   background: #6840ad;
   background: linear-gradient(to bottom right, #6840ad 0%, #c24fd6 100%);
   position: absolute;
   top: 0%;
   left: 0;
   width: 100%;
   min-height: 100%;
   height: max-content;
   margin-top: 0px;
 }

 .wrapper.form-success .container h1 {
   transform: translateY(85px);
 }
 .container {
   max-width: 600px;
   margin: 0 auto;
   margin-top: -20px;
   padding: 30px;
   height: max-content;
   text-align: center;
 }
 .container h1 {
   font-size: 40px;
   transition-duration: 1s;
   transition-timing-function: ease-in-put;
   font-weight: 200;
 }

 input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  padding: initial;
  border: initial;
}

 form {
   padding: 5px;
   position: relative;
   z-index: 2;
 }
 form input, form textarea, form select {
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
   outline: 0;
   border: 1px solid rgba(255, 255, 255, 0.4);
   background-color: rgba(255, 255, 255, 0.2);
   min-width: 250px;
   width: 30vw;
   border-radius: 3px;
   padding: 10px 15px;
   margin: 0 auto 10px auto;
   display: block;
   text-align: center;
   font-size: 18px;
   color: white;
   transition-duration: 0.25s;
   font-weight: 300;
 }

 input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  padding: initial;
  border: initial;

}

 form input:hover, form textarea:hover, form select:hover {
   background-color: rgba(255, 255, 255, 0.4);
 }
 form input:focus, form textarea:focus {
   background-color: white;
   min-width: 300px;
   width: 35vw;
   color: #c24fd6;
 }
 form button, li button {
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
   outline: 0;
   background-color: white;
   border: 0;
   padding: 10px 15px;
   color: #53e3a6;
   border-radius: 3px;
   width: 250px;
   cursor: pointer;
   font-size: 18px;
   transition-duration: 0.25s;
 }
 form button:hover {
   background-color: #f5f7f9;
 }
 li button:hover {
   background-color: #f5f7f9;
 }
 @-webkit-keyframes square {
   0% {
     transform: translateY(0);
   }
   100% {
     transform: translateY(-700px) rotate(600deg);
   }
 }
 @keyframes square {
   0% {
     transform: translateY(0);
   }
   100% {
     transform: translateY(-700px) rotate(600deg);
   }
 }

 /* ------------------------- navbar styles ------------------------- */
 .nav {
   height: 50px;
   width: 100%;
   position: relative;
 }

 .nav > .nav-header {
   display: inline;
 }

 .nav > .nav-header > .nav-title {
   display: inline-block;
   font-size: 22px;
   color: #fff;
   padding: 10px 10px 10px 10px;
 }

 .nav > .nav-btn {
   display: none;
 }

 .nav > .nav-links {
   display: inline;
   float: right;
   font-size: 18px;
 }

 .nav > .nav-links > a {
   display: inline-block;
   padding: 13px 10px 13px 10px;
   text-decoration: none;
   color: #efefef;
 }

 .nav > .nav-links > a:hover {
   background-color: rgba(0, 0, 0, 0.15);
 }

 .nav > #nav-check {
   display: none;
 }

 @media (max-width:600px) {
   .nav > .nav-btn {
     display: inline-block;
     position: absolute;
     right: 0px;
     top: 0px;
   }
   .nav > .nav-btn > label {
     display: inline-block;
     width: 50px;
     height: 50px;
     padding: 13px;
   }
   .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
     background-color: rgba(0, 0, 0, 0.15);
   }
   .nav > .nav-btn > label > span {
     display: block;
     width: 25px;
     height: 10px;
     border-top: 2px solid #eee;
   }
   .nav > .nav-links {
     position: absolute;
     display: block;
     width: 100%;
     background: linear-gradient(to bottom right, #6840ad 0%, #c24fd6 100%);
     height: 0px;
     transition: all 0.3s ease-in;
     overflow-y: hidden;
     top: 50px;
     left: 0px;
   }
   .nav > .nav-links > a {
     display: block;
     width: 100%;
   }
   .nav > #nav-check:not(:checked) ~ .nav-links {
     height: 0px;
   }
   .nav > #nav-check:checked ~ .nav-links {
     height: calc(100vh - 50px);
     overflow-y: auto;
   }
 }

 /* ------------------------- link styles ------------------------- */

a{
  text-decoration: none;
  color: #FFFFFF;
}

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

 /* ------------------------- box styles ------------------------- */

.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  min-width: 300px;
  height: fit-content;
  width: fit-content;
  margin: auto;
  background: #f6f6f6;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.box > * {
  color: #c24fd6;
}

.box > .underline::before{
  background-color: #c24fd6;
}


/* ---------- table styles ---------- */

table {
    table-layout: fixed;
}

td {
    word-wrap: break-word
}
