<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>

    <h1>New Member</h1>

    <%= render 'newform', member: @member %>

  </div>
</div>
